VSLikeClient/.vs/
VSLikeClient/Build/
VSLikeClient/Library/
VSLikeClient/Logs/
VSLikeClient/obj/
VSLikeClient/Temp/
VSLikeClient/UserSettings/
VSLikeClient/VSLikeClient.sln
SampleProject/SampleClient/.vs/
SampleProject/SampleClient/Build/
SampleProject/SampleClient/Library/
SampleProject/SampleClient/Logs/
SampleProject/SampleClient/obj/
SampleProject/SampleClient/Temp/
SampleProject/SampleClient/UserSettings/
JCProtoProject/
*.vsconfig
*.csproj
