<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwfSJI6ymD5pJp_QRgfdCqiBZXZaa9Yco</string>
	<key>GCM_SENDER_ID</key>
	<string>730516734245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naddic.cosmicsurvival</string>
	<key>PROJECT_ID</key>
	<string>cosmicsurvival-4d8e2</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmicsurvival-4d8e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730516734245:ios:7dff4e5deca32bbb12dacc</string>
</dict>
</plist>